.f1{
    font-size: 2em;
}

.f1_1{
    /* 부모 font-size의 두배이다. */
    font-size: 2em;
    /* font 자체가 bold가 없는경우는 적용이 안됨 */
    font-weight: bold;
    font-style: italic;
    font-family: 'Babylonica', cursive;
}

.f1_2{
    /* web browser 기본 pont size의 1.2배 */
    width: 200px;
    height: 100px;
    font-size: 1.2rem;
    font-weight: lighter;
    font-style: oblique;
    border: 1px solid rebeccapurple;
    text-align: center;
    /* 부모의 height값과 같게끔 lint-height값을 주면 수직중앙정렬이 된다 */
    line-height: 100px;
}