<?xml version="1.0" encoding="UTF-8"?>
<!-- Schema 추가 -->
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- 230207 8교시 -->
<!-- 원래는 풀패키지명을 써야하는데, 공통설정파일에 별칭을 줘서 짧게 작성 가능 -->
  <mapper namespace="com.pooh.s1.bankbook.BankBookDAO">
  	<!-- bankbook 메서드 5개중에 update 빼고 나머지 4개 하기 -->
  	<select id="getBankBookList" resultType="BankBookDTO">
  		SELECT * FROM BANKBOOK ORDER BY BOOKNUMBER DESC
  	</select>
  	
  	<select id="getBankBookDetail" resultType="BankBookDTO" parameterType="BankBookDTO">
  		SELECT * FROM BANKBOOK
  		WHERE BOOKNUMBER = #{bookNumber}
  	</select>
  	
  	<insert id="setBankBookAdd" parameterType="BankBookDTO"> <!-- select를 제외하면 리턴타입이 int인데 의미없다. 안받음 -->
  		INSERT INTO BANKBOOK(BOOKNUMBER, BOOKNAME, BOOKRATE, BOOKSALE, BOOKDETAIL)
  		VALUES(BANKNUM_SEQ.NEXTVAL, #{bookName}, #{bookRate}, #{bookSale}, #{bookDetail})
  	</insert>
  	
  	<delete id="setBankBookDelete" parameterType="BankBookDTO">
  		DELETE BANKBOOK WHERE BOOKNUMBER = #{bookNumber}
  	</delete>
  	
  	<update id="setBankBookUpdate" parameterType="BankBookDTO">
  	<!-- Mapper로는 데이터타입을 하나만 보낼 수 있다. 하나로 묶어줘야해서 DTO로. List는 데이터들의 타입이 다 달라서 불안하다. -->
  	<!-- 얘를 호출할 때는 DTO에 데이터 5개가 들어가있어야한다. -->
  		UPDATE BANKBOOK
  		SET BOOKNAME = #{bookName}, BOOKRATE = #{bookRate}, BOOKSALE = #{bookSale}, BOOKDETAIL = #{bookDetail}
  		WHERE BOOKNUMBER = #{bookNumber}
  	</update>
  </mapper>
  

