<?xml version="1.0" encoding="UTF-8"?>
<!-- Schema 추가 -->
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
  <mapper namespace="com.pooh.s1.member.MemberDAO">
	
	<update id="setMemberUpdate" parameterType="MemberDTO">
		UPDATE MEMBER
		SET MEMBERNAME = #{memberName}, MEMBERPHONE = #{memberPhone}, EMAIL = #{email}
		WHERE ID = #{id}
	</update>

  	<select id="getMemberLogin" parameterType="MemberDTO" resultType="MemberDTO">
  		SELECT * FROM MEMBER
  		WHERE ID = #{id} AND PW = #{pw} 
  	</select>
  
	<insert id="setMemberAdd" parameterType="MemberDTO">
		INSERT INTO MEMBER
		VALUES(#{id}, #{pw}, #{memberName}, #{memberPhone}, #{email})
	</insert>
  
	<insert id="setMemberRoleAdd" parameterType="MemberDTO">
		INSERT INTO MEMBER_ROLE(ID, ROLENUM)
		VALUES(#{id}, (SELECT ROLENUM FROM ROLE WHERE ROLENAME='MEMBER'))
		<!-- get -->
	</insert>
	
	
	  	<select id="getMemberList" resultType="MemberDTO">
  		SELECT * FROM MEMBER
  	</select>
  	
<!--   	<select id="getMemberDetail" parameterType="MemberDTO">
  		SELECT *
  		FROM MEMBER
  		WHERE = #{id}
  	</select> -->
  	
  </mapper>
  