<?xml version="1.0" encoding="UTF-8"?>
<!-- Schema 추가 -->
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
  <mapper namespace="com.pooh.s1.member.MemberDAO">
	
	<update id="setMemberUpdate" parameterType="MemberDTO" >
		UPDATE MEMBER
		SET MEMBERNAME = #{memberName}, MEMBERPHONE = #{memberPhone}, EMAIL = #{email}
		WHERE ID = #{id}
	</update>

<!--   	<select id="getMemberLogin" parameterType="MemberDTO" resultType="MemberDTO">
  		SELECT * FROM MEMBER
  		WHERE ID = #{id} AND PW = #{pw} 
  	</select> -->
  	
  	<!-- pw를 service에서 확인하기 -->
	  <select id="getMemberLogin" parameterType="MemberDTO" resultMap="getMemberLoginResult">
		<!-- SELECT * FROM MEMBER WHERE ID = #{id} -->
  		SELECT R.*, M.* FROM MEMBER M
			INNER JOIN
			MEMBER_ROLE MR
			ON(M.ID = MR.ID)
			INNER JOIN 
			ROLE R 
			ON(R.ROLENUM = MR.ROLENUM)
		WHERE M.ID=#{id}
  	</select>
  	
 	<resultMap type="MemberDTO" id="getMemberLoginResult">
  		<id column="ID" property="id"/>
  		<result column="PW" property="pw"/>
  		<result column="MEMBERNAME" property="memberName"/>
  		<result column="MEMBERPHONE" property="memberPhone"/>
  		<result column="EMAIL" property="email"/>
  		
  		<association property="roleDTO" javaType="RoleDTO">
  			<id column="ROLENUM" property="roleNum"/>
  			<result column="ROLENAME" property="roleName"/>
  		</association>
  	</resultMap>
  
	<insert id="setMemberAdd" parameterType="MemberDTO">
		INSERT INTO MEMBER
		VALUES(#{id}, #{pw}, #{memberName}, #{memberPhone}, #{email})
	</insert>
  
	<insert id="setMemberRoleAdd" parameterType="MemberDTO">
		INSERT INTO MEMBER_ROLE(ID, ROLENUM)
		VALUES(#{id}, (SELECT ROLENUM FROM ROLE WHERE ROLENAME='MEMBER'))
		<!-- get -->
	</insert>
	
	<select id="getMemberList" resultType="MemberDTO">
  		SELECT * FROM MEMBER
  	</select>
  	
<!--   	<select id="getMemberDetail" parameterType="MemberDTO">
  		SELECT *
  		FROM MEMBER
  		WHERE = #{id}
  	</select> -->
  	
  </mapper>
  