<?xml version="1.0" encoding="UTF-8"?>
<!-- Schema 추가 -->
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

  <mapper namespace="com.pooh.s1.board.notice.NoticeDAO">
  	<!-- notice의 list는 contents 빼고 불러오기 -->
  	
  	<!-- 공통부분 -->
  	<sql id="NoticeCondition">
  		<where>
  			<!-- NUM = #{num} AND -->
	  		<if test="kind=='title'">
	  			TITLE LIKE '%' || #{search} || '%'
	  		</if>
	  		<if test="kind=='contents'">
	  			CONTENTS LIKE '%' || #{search} || '%'
	  		</if>
	  		<if test="kind=='writer'">
	  			WRITER LIKE '%' || #{search} || '%'
	  		</if>
  		</where>
  	</sql>
  	
  	
  	<!-- totalCount -->
  	<select id="getTotalCount" resultType="Long" parameterType="Pager">
  		SELECT COUNT(NUM) FROM NOTICE
  		<include refid="NoticeCondition"></include>
  	</select>
  
  	<!-- List -->
  	<select id="getBoardList" resultType="NoticeDTO" parameterType="Pager">
  		SELECT * FROM
	  		(SELECT ROWNUM R, N.* FROM
		  		(SELECT NUM, TITLE, WRITER, REGDATE, HIT FROM NOTICE
		  		<include refid="NoticeCondition"></include>
	  		ORDER BY NUM DESC) N)
  		WHERE R BETWEEN #{startRow} AND #{lastRow}	
  	</select>
  	
  	<!-- Detail -->
  	<select id="getBoardDetail" parameterType="BoardDTO" resultType="NoticeDTO">
  		SELECT * FROM NOTICE WHERE NUM = #{num}
  	</select>
  	
  	<!-- Add -->
  	<!-- DAO에서 데이터 올 때  -->
  	<insert id="setBoardAdd" parameterType="BbsDTO">
  		<!-- testcase를 사용할 때 BbsDTO에는 title이 없는데 왜 에러가 안뜨느냐? -->
  		<!-- test에서 객체를 만들 때 NoticeDTO를 만들었기 때문이다. Spring이 알아서 찾아서 형변환 해줌.. -->
  		INSERT INTO NOTICE(NUM, TITLE, CONTENTS, WRITER, REGDATE, HIT)
  		VALUES(NOTICE_SEQ.NEXTVAL, #{title}, #{contents}, #{writer}, sysdate, 0)
  	</insert>
  
  </mapper>